/* Need to be implemented */

html {
    height: 100%;
    overflow: hidden;
}
body {
    background: url('https://icon.qiantucdn.com/20200412/53fc4a5dce9509f0ad5d32583f4066052');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.time {
    top: 0px;
    height: 50px;
    width: 350px;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
}

#getTime {
    color: rgb(73, 71, 71);
    font-family: cursive;
    font-size: 18px;
    margin-top: 0px;
}


.container {
    background-color:rgb(255, 255, 255);
    opacity: .6;
    border-radius: 10px;
    width: 430px;
    height: 320px;
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 250px;
    align-self: center;
}

h2 {
    text-align: center;
    margin-bottom: 0px;
    font-family: cursive;
    font-size: 22px;
}

p {
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12.5px;
}

/* Input */
.add-container {
    justify-content: center;
    display: flex;
}

#input-item {
    display: flex;
    justify-content: center;
    background: transparent;
    margin: 0px;
    width: 250px;
    border: none;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    outline: none;
}

/* List */
#list-area {
    padding-right: 0px;
    height: 175px;
    overflow: scroll;
    overflow-x: hidden;
}

#things-to-do {
    width: 400px;
    align-content: center;
    padding-left: 70px;
    padding-right: 0px;
}

input[type='checkbox'] {
    transform: scale(1);
  }

ol li {
    position: relative;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

ol li:hover {
    background-color: rgb(201, 238, 201);
}

.delete-button {
    background-image: url('https://gitlab.com/odilezhou1997/to-do-list-front-end/-/raw/master/images/delete.png');
    height: 15px;
    width: 15px;
    border: 0px;
    position: absolute;
    float: inline-end;
    display: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    right: 100px;
}

ol li:hover .delete-button {
    display: inline-block;
}

/* Button */
.add-button {
    width: 50px;
    height: 25px;
    background-color:rgb(248, 210, 217);
    border-radius: 20px;
    border-width: 1px;
    border-color:rgba(255, 0, 0, 0.247);
    margin-left: 10px;
    padding: 2px 15px;
    text-align: center;
    font-size: 15px;
    width: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
}

.button {
    width: 50px;
    height: 25px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    border-width: 1px;
    border-color:rgba(255, 0, 0, 0.247);
    margin-left: 10px;
    padding: 2px 15px;
    text-align: center;
    font-size: 15px;
    color: rgb(241, 133, 151);
    width: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
}

.button:hover {
    background:rgb(248, 210, 217);
    color: rgb(255, 255, 255);
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(255, 0, 0, 0.247) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .9s;
}

  
.button:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

.button-selected {
    background:rgb(248, 194, 204);
    color: rgb(255, 255, 255);
}

.btnContainer  {
    display: flex;
    justify-content: center;
}


/* Status */
.COMPLETED {
    color: rgb(185, 183, 183);
    text-decoration: line-through;
    text-decoration-color: rgb(185, 183, 183);
}

/* Footer */
footer {
    text-align: center;
}

/* Adjust */
.none-outline {
    outline: none;
}

